language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '8'
env:
  matrix:
    - PACKAGE=foo
      #- PACKAGE=bar
      #- PACKAGE=baz

script: lerna run test --scope $PACKAGE

jobs:
  include:
    # Define the release stage that runs semantic-release
    - stage: release
      node_js: '8'
      script: skip
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - npm run-script semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
